<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Categories</title>
	<link rel="stylesheet" href="../css/categories.css">
</head>
<body>
	<section class="categories">
		<h1>Categories</h1>
		<p>Browse groups by topics you're interested in.</p>
		<ul>
			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-1">

						</div>
						<h4>Outdoors & Adventure</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-2">

						</div>
						<h4>Tech</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-3">

						</div>
						<h4>Family</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-4">

						</div>
						<h4>Heath & Wellness</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-5">

						</div>
						<h4>Sports & Fitness</h4>
					</a>
				</div>
			</li>


			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-6">

						</div>
						<h4>Learning</h4>
					</a>
				</div>
			</li>


			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-7">

						</div>
						<h4>Photography</h4>
					</a>
				</div>
			</li>


			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-8">

						</div>
						<h4>Food & Drink</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-9">

						</div>
						<h4>Writing</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-10">

						</div>
						<h4>Language & Culture</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-11">

						</div>
						<h4>Music</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-12">

						</div>
						<h4>Movements</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-13">

						</div>
						<h4>LGBTQ</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-14">

						</div>
						<h4>Film</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-15">

						</div>
						<h4>Sci-Fi & Games</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-16">

						</div>
						<h4>Beliefs</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-17">

						</div>
						<h4>Arts</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-18">

						</div>
						<h4>Book Clubs</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-19">

						</div>
						<h4>Dance</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-20">

						</div>
						<h4>Pets</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-21">

						</div>
						<h4>Hobbies & Crafts</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-22">

						</div>
						<h4>Fashion & Beauty</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-23">

						</div>
						<h4>Social</h4>
					</a>
				</div>
			</li>

			<li>
				<div class="categories-items">
					<a href="#">
						<div class="categories-items-image item-24">

						</div>
						<h4>Career & Business</h4>
					</a>
				</div>
			</li>
		</ul>
	</section>
</body>
</html>