<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Grow With Meetup</title>
        <link rel="stylesheet" href="../css/grow-with-meetup.css">
        <link rel="stylesheet" href="../libary/owlcarousel/owl.carousel.min.css">
		<link rel="stylesheet" href="../libary/owlcarousel/owl.theme.default.min.css">
		<script src="../libary/jquery.min.js"></script>
		<script src="../libary/owlcarousel/owl.carousel.min.js"></script>
    </head>
    <body>
    	<section class="grow-with-meetup">
    		<div class="gr-containter">    						
    			<div class="gr-introduction">
    				<div class="gr-intro-detail">
	    				<h4>Grow with Meetup</h4>
	    				<p>
	    					People start Meetup groups to improve their lives through the power of community. Groups practice shared hobbies, learn from one another, build professional networks, and have adventures together.
	    				</p>
	    				<a href="#"><span>Start a group</span></a>
	    				<a href="#"><span>Learn more</span></a>
    				</div>
    			</div>
    			<div class="gr-info owl-carousel">    				
    					<div class="gr-info-bg-img item-1">
    						<div class="over-lay">
    							<h4><span>Bri</span></h4>
    							<p>Founder of the SLAP Collective in New York</p>
    						</div>
    					</div>
    					<div class="gr-info-bg-img item-2">
    						<div class="over-lay">
    							<h4><span>Lance</span></h4>
    							<p>Co-founder of City Dads, a Meetup group that has grown into a national organization in the U.S.</p>
    						</div>
    					</div>
    					<div class="gr-info-bg-img item-3">
    						<div class="over-lay">
    							<h4><span>Loka</span></h4>
    							<p>Organizer of the Seattle Green Lake Runners Meetup group</p>
    						</div>
    					</div>
    				
    			</div>
    		</div>   		
    	</section>
    	<script>
    		$(document).ready(function(){
			  $('.owl-carousel').owlCarousel({
				    center: true,
				    items:1,
				    loop:true,
				})
			});
    	</script>
        
    </body>
</html>