<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Header Meetup</title>
        <link rel="stylesheet" href="../css/header.css">
    </head>
    <body>
    	<section class="header-meetup">
    		<div class="header-container">
    			<div class="hd-logo">
					<img src="../img/logo_meetup.svg" alt="logo meetup">
    			</div>
    			<div class="hd-login-group">
					<div class="hd-new-group">
						<a href="#"><span>Start a new group</span></a>
					</div>
					<div class="hd-login-register">
						<a href="#"><span>Login</span></a>
						<a href="#"><span>Sign up</span></a>						
					</div>
    			</div>
    		</div>
    	</section>
        
    </body>
</html>