<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Type of Meetup</title>
        <link rel="stylesheet" href="../css/type-of-meetup.css">
    </head>
    <body>
        <section class="type-of-meetup">
        	<div class="type-of-meetup-container">
        		<ul>
        		    <li>
        		    	<a href="#">
        		    		<span>Join a movement</span>
        		    	</a>
        		    </li>
        		    <li>
        		    	<a href="#">
        		    		<span>Learn to cook</span>
        		    	</a>
        		    </li>
        		    <li>
        		    	<a href="#">
        		    		<span>Train for a marathon</span>
        		    	</a>
        		    </li>
        		    <li>
        		    	<a href="#">
        		    		<span>Build a mobile app</span>
        		    	</a>
        		    </li>
        		    <li>
        		    	<a href="#">
        		    		<span>Hike a mountain</span>
        		    	</a>
        		    </li>
        		    <li>
        		    	<a href="#">
        		    		Practice a language
        		    	</a>
        		    </li>
        		</ul>
        	</div>
        	
        </section>
        
    </body>
</html>