<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Video Introduction</title>
        <link rel="stylesheet" href="../css/video-introduction.css">
    </head>
    <body>
        <section class="video-introdution">

        		<div class="video-source-info">
        			<video autoplay="true" loop>
        				<source src="https://www.meetup.com/mu_static/en-AU/video.dddafbfe.mp4">
        			</video>
        			<div class="video-info">
        				<h2><span>The real world is calling</span></h2>
        				<p>Join a local group to meet people, try something new, or do more of what you love.</p>
						<a href="#"><span>Join Meetup</span></a>
        			</div>
        	</div>
        	
        </section>
        
    </body>
</html>